
<% if (site.customConfig.music_switch == "on") { %>
    <div id="player"></div>
    <% } %>
        <footer id="footer" class="footer">

            <div class="copyright">
                <%- themeConfig.footerInfo %>
                    <b id="hitokoto"></b><br>
                    <svg viewBox="0 0 1024 1024" style="margin-left: 5px;margin-right: 5px;" version="1.0" width="8" height="8" class="my-face">
            <path
                d="M863.597631 513.574282l-271.33965-140.213484L729.783667 81.926656c3.583731-7.87141 7.167462-15.742819 7.167462-25.214109C736.887134 25.226908 708.345275 0.012799 672.635953 0.012799a63.611229 63.611229 0 0 0-39.293053 12.607055c-1.791866 1.59988-3.519736 3.19976-5.311602 3.19976L147.87531 418.925381a55.547834 55.547834 0 0 0-19.646527 47.356448c1.791866 17.278704 14.27093 33.021523 32.125591 42.492813l271.33965 141.749369L292.504463 945.221908c-12.479064 25.214109-1.791866 53.563983 23.166262 69.306802 10.751194 6.335525 23.230258 9.47129 35.709322 9.47129 16.062795 0 32.125591-4.735645 44.604655-15.742819l480.091993-403.297753a55.547834 55.547834 0 0 0 19.646526-47.228458 61.243407 61.243407 0 0 0-32.12559-44.156688z"
                fill="#93b5cf"></path>
        </svg>
                    <%= themeConfig.siteName%> &copy;Copyright
                        <script>
                            var date = new Date();
                            document.write("" + date.getFullYear());
                        </script>
                        | 本站已经运行了
                <strong><script type="text/javascript">		

                var urodz= new Date("01/03/2020");
                var now = new Date();
                var ile = now.getTime() - urodz.getTime();
                var dni = Math.floor(ile / (1000 * 60 * 60 * 24));
                document.write(+dni)
                </script>
                </strong>天
            </div>
<!--Click loveHeart -->
<script type="text/javascript" src="<%= themeConfig.domain %>/media/script/love.js"></script>
        </footer>

        <% if (site.customConfig.live2d == "on") { %>
        <script src='https://cdn.jsdelivr.net/npm/live2d-widget@3.x/lib/L2Dwidget.min.js'></script> 
          
		<div id="landlord" style="right:5px;bottom:0px;">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="500" height="560" class="live2d"></canvas>
    <div class="live_talk_input_body">
        <div class="live_talk_input_name_body">
            <input name="name" type="text" class="live_talk_name white_input" id="AIuserName" autocomplete="off" placeholder="你的名字" />
        </div>
        <div class="live_talk_input_text_body">
            <input name="talk" type="text" class="live_talk_talk white_input" id="AIuserText" autocomplete="off" placeholder="要和我聊什么呀？"/>
            <button type="button" class="live_talk_send_btn" id="talk_send">发送</button>
        </div>
    </div>
    <input name="live_talk" id="live_talk" value="1" type="hidden" />
    <div class="live_ico_box">
        <div class="live_ico_item type_info" id="showInfoBtn"></div>
        <div class="live_ico_item type_talk" id="showTalkBtn"></div>
        <div class="live_ico_item type_music" id="musicButton"></div>
        <div class="live_ico_item type_youdu" id="youduButton"></div>
        <div class="live_ico_item type_quit" id="hideButton"></div>
        <input name="live_statu_val" id="live_statu_val" value="0" type="hidden" />
        <audio src="" style="display:none;" id="live2d_bgm" data-bgm="0" preload="none"></audio>
	<input name="live2dBGM" value="http://music.163.com/song/media/outer/url?id=421934070.mp3" type="hidden">
	<input name="live2dBGM" value="http://music.163.com/song/media/outer/url?id=786262.mp3" type="hidden">
	<input name="live2dBGM" value="http://music.163.com/song/media/outer/url?id=490637664.mp3" type="hidden">
	<input name="live2dBGM" value="http://music.163.com/song/media/outer/url?id=515450559.mp3" type="hidden">
        <input id="duType" value="douqilai,l2d_caihong" type="hidden">
    </div>
</div>
<div id="open_live2d">召唤伊斯特瓦尔</div>
<script>
    var message_Path = '/media/live2d/';//资源目录，如果目录不对请更改
    var talkAPI = '';//如果有类似图灵机器人的聊天接口请填写接口路径
</script>

<!--<script src="/media/js/jquery-3.3.1.min.js"></script>-->
<script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/media/live2d/js/live2d.js"></script>
<script type="text/javascript" src="/media/live2d/js/message.js"></script>		
		
            <% } %>

                <script>
                    <% if (site.customConfig.music_switch == "on") { %>

                    function LoadPlayer() {
                        var audio_name = '<%= site.customConfig.music_name%>';
                        var audio_artist = '<%= site.customConfig.music_author%>';
                        var audio_url = '<%= site.customConfig.music_url%>';
                        var audio_cover = '<%= site.customConfig.music_pic%>';
                        const ap = new APlayer({
                            container: document.getElementById('player'),
                            fixed: true,
                            audio: [{
                                name: audio_name,
                                artist: audio_artist,
                                url: audio_url,
                                cover: audio_cover,
                            }]
                        });

                    }
                    LoadPlayer();
                    <% } %>
<!--
                    <% if (site.customConfig.live2d == "on") { %>
                    loadlive2d();
                    <% } %>
                    hitokoto();
-->
                    hljs.initHighlighting();
<!--
		    console.clear();
-->
                    console.log("\n %c \u26a1Theme:Chic-Unique Author's Blog:https://github.com/xiangyi715  Write By xiangyi  \n\n", "color: #ffffff; background: rgba(49, 49, 49, 0.85); padding:5px 0;border-radius:5px;");
                </script>
