<!DOCTYPE html>
<html>
<head>
    <%- include('./include/head', { siteTitle: themeConfig.siteName }) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xiangyi715/Gridea-Chic-Unique@1.0.3/assets/media/live2d/css/live2d.css" />

<meta charset="utf-8">
<!--Thanks maomao
<link rel="stylesheet" href="https://maomao.ink/usr/themes/jianshu/css/archives.css" type="text/css">
-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xiangyi715/Gridea-Chic-Unique@1.0.4/assets/media/css/archives.css" type="text/css">

</head>
<body>

    <div class="wrapper">
        <%- include('./include/header') %> 
<div class="main">
<div class="post-wrap archive">

<ul class="archive-list">

                <% let years = []; posts.forEach((item) => { const year = item.date.substring(0, 4); if (!years.includes(year)) { years.push(year); } }); %>
                <% years.forEach(function(year) { %>
                <h3>
		<%- year %>
		</h3>

                <% posts.forEach(function(post) { %>
                <%if (post.date.indexOf(year) !== -1) { %>

                <li> <time class="cbp_tmtime archive-item-date"> <span> <%= post.dateFormat %>
 		</span> </time> 

		<div class="cbp_tmlabel">
		<p><a class="archive-item-link" href="<%- post.link%>">
                                            <%= post.title %>
                     </a>
		</p>
		</div></li>
                                    <% } %>
                                        <% }) %>

                                            <% }) %>

                <div class="pagination-container">
                    <% if(site.customConfig.language=="zh"){%>
                        <% if (pagination.prev) { %>
                            <a href="<%= pagination.prev %>" class="prev"><i class="icon-arrow-ios-back-outline"></i> &#x4E0A;&#x4E00;&#x9875;</a>
                            <% } %>
                                <% if (pagination.next) { %>
                                    <a href="<%= pagination.next %>" class="next">&#x4E0B;&#x4E00;&#x9875; <i class="icon-arrow-ios-forward-outline"></i></a>
                                    <% } %>
                                        <% }else{ %>
                                            <% if (pagination.prev) { %>
                                                <a href="<%= pagination.prev %>" class="prev"><i class="icon-arrow-ios-back-outline"></i> Prev</a>
                                                <% } %>
                                                    <% if (pagination.next) { %>
                                                        <a href="<%= pagination.next %>" class="next">Next <i class="icon-arrow-ios-forward-outline"></i></a>
                                                        <% } %>
                                                            <% } %>


</ul>

    </div>

</div>
</div>
    <%- include('./include/footer') %>
    </div>

<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>

<script color="0,0,0" opacity="0.4" count="50" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
