<!DOCTYPE html>
<html>

<head>
    <%- include('./include/head', { siteTitle: themeConfig.siteName }) %>

    <meta name="baidu-site-verification" content="4oa5qekqCQ" />   <!-- 百度验证 -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xiangyi715/Gridea-Chic-Unique@1.0.3/assets/media/live2d/css/live2d.css" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!--
<base target="_blank" />
-->
</head>

<body onload="load()">

    <div class="wrapper">

        <%- include('./include/header') %>

            <div class="main">
                <div class="container">
                    <div class="intro">
                        <div class="avatar">
                            <a href="<%= themeConfig.domain %>"><img src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>"></a>
                        </div>
                        <div class="nickname">
                            <%= site.customConfig.author%>
                        </div>
			<div class="keywords">
			    <%= site.customConfig.keywords%>
			</div>
                        <div class="description">
                            <%= site.customConfig.description%>
                        </div>
                        <div class="links">
                            <% ['twitter', 'facebook', 'github', 'linkedin', 'instagram','zhihu','weibo','qq','youtube'].forEach((item) => { %>
                                <% if (site.customConfig[item]) { %>
                                    <a class="link-item" href="<%= site.customConfig[item] %>" title="<%- item %>" target="_blank"><i class="fab fa-<%= item %>" style="font-size:27px"></i></a>
                                    <% } %>
                                        <% }); %>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<!--QQ mail-->
<%if(site.customConfig.EMAIL == "on"){ %>
<div id="QQmail">
<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?
t=qm_mailme&email=<%= site.customConfig.email %>"
style="text-decoration:none;right: 0px;"><img src="https://i.loli.net/2020/03/13/VuiSEHAqMxwsL8P.png"/></a>
<% } %>
</div>
<!-- weather -->
<%if(site.customConfig.Weather == "on"){ %>
<script type="text/javascript">
WIDGET = {FID: 'kXY2Oi8Kwh'}
</script>
<script type="text/javascript" src="https://apip.weatherdt.com/float/static/js/r.js?v=1111"></script>
<% } %>
<!-- type -->
<script>
    var typed = new Typed("#subtitle", {
        strings: ['<%= site.customConfig.description%>', '', ''],
        startDelay: 10,
        typeSpeed: 200,
        loop: true,
        backSpeed: 100,
        showCursor: true
    });
</script>
<!-- head title-->
<script>
    var titleTime;
    document.addEventListener("visibilitychange", function() {
        document.hidden ? (document.title = "😥" + OriginTitile, clearTimeout(titleTime)) : (document.title = "😝" + OriginTitile, titleTime = setTimeout(function() {
            document.title = OriginTitile
        }, 2E3))
    });
    var OriginTitile = document.title;
</script>
<!-- Preloading -->
<div id="loading">
	<div id="loading-center">
		<div id="loading-center-absolute">
			<div class="object" id="object_one"></div>
			<div class="object" id="object_two"></div>
			<div class="object" id="object_three"></div>
			<div class="object" id="object_four"></div>
			<div class="object" id="object_five"></div>
			<div class="object" id="object_six"></div>
			<div class="object" id="object_seven"></div>
			<div class="object" id="object_eight"></div>
			<div class="object" id="object_nine"></div>
		</div>
	</div>
</div>

<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>

</body>

<%- include('./include/footer') %>

</html>
