<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <% if(site.customConfig.language == "zh"){%>
        <%- include('./include/head', { siteTitle: `\u6587\u7AE0 | ${themeConfig.siteName}` }) %>
            <% }else{%>
                <%- include('./include/head', { siteTitle: `Posts | ${themeConfig.siteName}` }) %>
                    <%}%>
	 <link rel="stylesheet" href="<%= themeConfig.domain %>/media/live2d/css/live2d.css" />
</head>

<body>
    <div class="wrapper">
        <%- include('./include/header') %>
            <div class="post-main">
                <div class="post-list">
                    <%- include('./include/post-list') %>
                </div>
            </div>
    </div>
    <%- include('./include/footer') %>

<script src="https://instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
</body>

</html>
