<!DOCTYPE html>
<html>
<head>
    <%- include('./include/head', { siteTitle: themeConfig.siteName }) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xiangyi715/Gridea-Chic-Unique@1.0.3/assets/media/live2d/css/live2d.css" />
</head>
<body>
    <div class="wrapper">
        <%- include('./include/header') %>
        <div class="main">
            <div class="container">
                <div class="post-wrap tags">
                    <% site.tags.forEach(function(tag) { %>
                    <a href="<%= tag.link%>">
                        <p class="post-title">
                            <i class="fa fa-tags" aria-hidden="true"> <%= tag.name %></i>
                        </p>
                    </a>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <%- include('./include/footer') %>
    </div>

<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>

<script color="0,0,0" opacity="0.4" count="50" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
